.Content{
  font-family: 'Questrial', sans-serif;
  text-align: center;
  padding-top: 5%;
  margin: 30px;
  font-size: 4em;

}
.content-table {
  margin: 0 auto;
}
h1{
  text-align: center;
}
.gradient {
  background: linear-gradient(to right, rgb(255, 174, 0) 0%, rgb(255, 174, 0) 50%, rgb(0, 102, 255) 50%, rgb(0, 102, 255) 100%);
}
div {
  background: linear-gradient(to right, rgb(255, 174, 0) 0%, rgb(255, 174, 0) 50%, rgb(0, 102, 255) 50%, rgb(0, 102, 255) 100%);
}
p {
  color: white;
  mix-blend-mode: difference;
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: center;
}
.back{
  font-family: 'Questrial', sans-serif;
  text-align: center;
  font-size: small;
}