$color: rgb(0, 0, 0);

.bg {
  background-color: $color;
}
.text {
    color: $color;
    width: 200px;
  
}  

.text:after {
    /* This value is the OPPOSITE color of our background */
    color: rgb(0, 255, 255); 
    mix-blend-mode: difference;
}